<div class="container">
  <h2>Edit your profile</h2>
    <%= simple_form_for [@user] do |f| %>
    <%= f.input :username %>
    <%= f.input :bio %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Modify', class: 'btn-greenbird' %>
    <% end %>
    <hr>
</div>