<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="card-container d-flex">
        <div class="card-profile">
          <%=cl_image_tag @user.avatar_url,:class=>"card-img-top avatar-profile", crop: :fill%>
          <div class="card-body">
            <div class="row description justify-content-center">
              <div class="col-xl-12 text-center">
                <h4><%= @user.username %></h4>
                <p>My Country:</p>
                <h4><%= @user.country %> <% if @user.country != 'World' %>
                    <%= ISO3166::Country.find_country_by_name(@user.country).emoji_flag %>
                    <% end %>
                </h4>
                <p>My Bio:</p>
                <h4 class="margin-button-edit"><%= @user.bio %></h4>
              </div>
            </div>
          </div>
          <div class="card-buttons">
            <%= link_to 'Edit profile', edit_user_path, class: "link-color btn-green-bird" %>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-7">
      <div>
        <h2 style="text-align:center">Badges</h2>
      </div>


      <div class="d-flex flex-wrap justify-content-space-between">
        <div class="p-2 bd-highlight">
         <div class="card-badge">
          <img class="earth-logo" src="https://image.flaticon.com/icons/svg/814/814513.svg">
          <div class="card-body">
            <h7 class="card-title" style="text-align:center">Yay</h7>
          </div>
        </div>
      </div>

        <div class="p-2 bd-highlight">
          <div class="card-badge">
            <div class="card-body">
              <img class="earth-logo" src="https://image.flaticon.com/icons/svg/814/814513.svg">
              <h7 class="card-title">Yay</h7>
            </div>
          </div>
        </div>

        <div class="p-2 bd-highlight">
          <div class="card-badge">
            <div class="card-body">
              <img class="earth-logo" src="https://image.flaticon.com/icons/svg/814/814513.svg">
              <h7 class="card-title">Yay</h7>
            </div>
          </div>
        </div>

         <div class="p-2 bd-highlight">
          <div class="card-badge">
            <div class="card-body">
              <img class="earth-logo" src="https://image.flaticon.com/icons/svg/814/814513.svg">
              <h7 class="card-title">Yay</h7>
            </div>
          </div>
        </div>

          <div class="p-2 bd-highlight">
          <div class="card-badge">
            <div class="card-body">
              <img class="earth-logo" src="https://image.flaticon.com/icons/svg/814/814513.svg">
              <h7 class="card-title">Yay</h7>
            </div>
          </div>
        </div>

      </div>

        <h2 style="text-align:center">Achievements</h2>
            <div class="row">
            <div class="card-achievement">
              <div class="card-body">
                <h7 class="card-title">Graph Here</h7>
                <p class="card-text">Graph Description</p>
              </div>
            </div>
          </div>
    </div>


  </div>
</div>



