<div class="container m-bottom">
  <div class="row">
    <div class="col-sm-4">
      <div class="card-container d-flex">
        <div class="card-profile shadow">
          <%=cl_image_tag @user.avatar_url,:class=>"avatar-user-profile", crop: :fill%>
          <div class="card-body">
            <div class="row description justify-content-center">
              <div class="col-xl-12 text-center">
                <p><strong><%= @user.username %></strong></p>
                <hr class="w-75">
                <p>My Country:</p>
                <p class="p-user"><%= @user.country %> <% if @user.country != 'World' %>
                    <%= ISO3166::Country.find_country_by_name(@user.country).emoji_flag %>
                    <% end %>
                </p>
                <p>My Bio:</p>
                <p class="margin-button-edit p-user"><%= @user.bio %></p>
              </div>
            </div>
          </div>
          <div class="card-buttons">
            <%= link_to 'Edit profile', edit_user_path, class: "link-color btn-green-bird" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="card-graph shadow">
          <div class="card-body">
            <p><strong>CO2 emissions and my current achievements</strong></p>
            <hr class="w-75">
            <div class="graphs">
            <h4 class="card-title">
            <%= line_chart [
              {name: "#{@user.country} CO2 emissions per year per capita", data: @datauser},
              {name: "World CO2 emissions per year per capita", data: @data}
            ],xmin: "1950-01-01", xmax: "2021-01-01", colors: ["#8CC34A", "#FBA870"], discrete: true, id: "users-chart", width: "300px", height: "300px", points: false%>
            </h4>
            <h4 class="card-title">
            <%= line_chart [
              {name: 'My yearly challenge impact', data: @datachallengeuser},
              {name: "World target", data: @datatarget}
            ],xmin: 0, xmax: 5, ymin: 0, ymax: 15, colors: ["#8CC34A", "#FBA870"], class: "users-chart", width: "300px", height: "300px"%>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card-container d-flex">
        <div class="card-badges shadow">
          <div class="">
            <div class="row description justify-content-center">
              <div class="col-xl-12">
                <p><strong>My badges</strong></p>
                <hr class="w-75">
                <div class="list-badges">
                  <% if @challenges_done.count >= 1 %>
                    <div class="card-badge d-flex justify-content-start">
                      <%= image_tag "badge1.png", class:"earth-logo" %>
                      <p class="card-title-badge">You achieved your first challenge!</p>
                  <% else %>
                    <div class="card-badge opacity d-flex justify-content-start">
                      <%= image_tag "badge1.png", class:"earth-logo" %>
                      <p class="card-title-badge">Badge not yet obtained.</p>
                  <% end %>
                    </div>


                  <div class="card-badge d-flex justify-content-start">
                    <%= image_tag "badge5.png", class:"earth-logo" %>
                    <p class="card-title-badge">You achieved 5 challenges!</p>
                  </div>

                  <div class="card-badge opacity d-flex justify-content-start">
                    <%= image_tag "flame.jpg", class:"earth-logo" %>
                    <p class="card-title-badge">Badge not yet obtained</p>
                  </div>

                  <div class="card-badge opacity d-flex justify-content-start">
                    <%= image_tag "coupe.png", class:"earth-logo" %>
                    <p class="card-title-badge">Badge not yet obtained</p>
                  </div>

                  <div class="card-badge opacity d-flex justify-content-start">
                    <img class="earth-logo" src="https://image.flaticon.com/icons/svg/814/814513.svg">
                    <p class="card-title-badge">Badge not yet obtained</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 no-p">
      <div class="friends-section shadow">
        <p><strong>My friends</strong></p>
        <hr class="w-75">
        <div class="row mt-3 px-3">
          <div class="col-3 friend-card">
            <div>
              <img class="avatar-friend-card" src="https://ca.slack-edge.com/T02NE0241-U0165E3CGQN-f7b61d146c95-512" alt="">
            <p>Tina</p>
            </div>
          </div>
          <div class="col-3 friend-card">
            <div>
               <img class="avatar-friend-card" src="https://ca.slack-edge.com/T02NE0241-U016AQHF6TF-7d8204dc04a9-512" alt="">
            <p>Žužu</p>
            </div>
          </div>
          <div class="col-3 friend-card">
            <div>
              <img class="avatar-friend-card" src="https://ca.slack-edge.com/T02NE0241-U016JBJPLQL-01d9433a7fea-512" alt="">
            <p>Rowena</p>
            </div>
          </div>
          <div class="col-3 friend-card">
            <div>
              <img class="avatar-friend-card" src="https://ca.slack-edge.com/T02NE0241-U0165E3MWT0-e3bb75012008-512" alt="">
            <p>David</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <div style="clear:both"></div>


