<div class="container m-bottom">
  <div class="row">
    <div class="col-sm-4">
      <div class="card-container d-flex">
        <div class="card-profile shadow">
          <%=cl_image_tag @user.avatar_url,:class=>"avatar-user-profile", crop: :fill%>
          <div class="card-body">
            <div class="row description justify-content-center">
              <div class="col-xl-12 text-center">
                <p><strong><%= @user.username %></strong></p>
                <hr class="w-75">
                <p>My Country:</p>
                <p class="p-user"><%= @user.country %> <% if @user.country != 'World' %>
                    <%= ISO3166::Country.find_country_by_name(@user.country).emoji_flag %>
                    <% end %>
                </p>
                <p>My Bio:</p>
                <p class="margin-button-edit p-user"><%= @user.bio %></p>
              </div>
            </div>
          </div>
          <div class="card-buttons">
            <% if current_user == @user %>
            <%= link_to 'Edit profile', edit_user_path, class: "link-color btn-green-bird" %>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="card-graph shadow">
          <div class="card-body">
            <p><strong>CO2 emissions and my current achievements</strong></p>
            <hr class="w-75">
            <div class="graphs">
            <h4 class="card-title">
            <%= line_chart [
              {name: "#{@user.country} CO2 emissions per year per capita", data: @datauser},
              {name: "World CO2 emissions per year per capita", data: @data}
            ],xmin: "1950-01-01", xmax: "2021-01-01", colors: ["#8CC34A", "#FBA870"], discrete: true, id: "users-chart", width: "300px", height: "300px", points: false%>
            </h4>
            <h4 class="card-title">
            <%= line_chart [
              {name: 'My yearly challenge impact', data: @datachallengeuser},
              {name: "World target", data: @datatarget}
            ],xmin: 0, xmax: 5, ymin: 0, ymax: 15, colors: ["#8CC34A", "#FBA870"], class: "users-chart", width: "300px", height: "300px"%>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card-container d-flex">
        <div class="card-badges shadow">
          <div class="">
            <div class="row description justify-content-center">
              <div class="col-xl-12">
                <p><strong>My badges</strong></p>
                <hr class="w-75">
                <div class="list-badges">
                  <% if @challenges_done.count >= 1 %>
                    <div class="card-badge d-flex justify-content-start">
                      <%= image_tag "badge1.png", class:"earth-logo" %>
                      <p class="card-title-badge">You achieved your first challenge!</p>
                  <% else %>
                    <div class="card-badge opacity d-flex justify-content-start">
                      <%= image_tag "question.png", class:"earth-logo" %>
                      <p class="card-title-badge">Badge not yet obtained</p>
                  <% end %>
                    </div>

                  <% if @challenges_done.count >= 5 %>
                    <div class="card-badge d-flex justify-content-start">
                      <%= image_tag "badge5.png", class:"earth-logo" %>
                      <p class="card-title-badge">You achieved 5 challenges!</p>
                  <% else %>
                    <div class="card-badge opacity d-flex justify-content-start">
                      <%= image_tag "question.png", class:"earth-logo" %>
                      <p class="card-title-badge">Badge not yet obtained</p>
                  <% end %>
                    </div>

                  <% if @challenges_done.count >= 5 %>
                    <div class="card-badge d-flex justify-content-start">
                      <%= image_tag "flame.jpg", class:"earth-logo" %>
                      <p class="card-title-badge">You're on fire!!!</p>
                  <% else %>
                    <div class="card-badge opacity d-flex justify-content-start">
                      <%= image_tag "question.png", class:"earth-logo" %>
                      <p class="card-title-badge">Badge not yet obtained</p>
                  <% end %>
                    </div>

                  <% if @challenges_done.count >= 15 %>
                    <div class="card-badge d-flex justify-content-start">
                      <%= image_tag "coupe.png", class:"earth-logo" %>
                      <p class="card-title-badge">You completed 15 challenges!</p>
                  <% else %>
                    <div class="card-badge opacity d-flex justify-content-start">
                      <%= image_tag "question.png", class:"earth-logo" %>
                      <p class="card-title-badge">Badge not yet obtained</p>
                  <% end %>
                    </div>

                  <% if @challenges_done.count == Challenge.all.count %>
                    <div class="card-badge d-flex justify-content-start">
                      <img class="earth-logo" src="https://image.flaticon.com/icons/svg/814/814513.svg">
                      <p class="card-title-badge">You're a Earth savior! You managed all challenges!</p>
                  <% else %>
                    <div class="card-badge opacity d-flex justify-content-start">
                      <%= image_tag "question.png", class:"earth-logo" %>
                      <p class="card-title-badge">Badge not yet obtained</p>
                  <% end %>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 no-p">
      <div class="row">
        <div class="friends-section shadow">
          <p><strong>My friends</strong></p>   
          <hr class="w-75">
          <div class="row mt-3 px-3">
            <% @friends.each do |friend| %>
            <div class="col-3 friend-card">
              <div>
                <%= link_to user_path(friend), style: "color: black; text-decoration: none" do %>
                  <%= cl_image_tag friend.avatar_url, class: "avatar-friend-card",crop: :fill %>
                <% end %>
                <p><%= friend.username %></p>
              </div>
            </div>
            <% end %>
          </div>
          <div class="card-buttons">
            <% if current_user == @user %>
            <%= link_to 'Find your friends', users_path, class: "link-color btn-green-bird" %>
            <% else %>
            <% end %>
          </div>     
        </div>
        </div>

        <div class="row">
          <div class="friends-section shadow">
          <p><strong>Categories of challenges</strong></p>
          <% if @challenges_done != [] %>
            <%= pie_chart @challenges_done.group(:challenge_id).count %>
          <% else %>
            <p>No challenge done yet!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
 <div style="clear:both"></div>


