<% content_for(:navbar_class, "navbar-home" ) %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner-greenbird.jpg") %>);">
  <div class="container">
    <h1><strong>Easy challenges for positive environmental impact</strong></h1>
    <p>Reduce your CO2 footprint in an <strong>easy</strong> and <strong>fun</strong> way</p>
    <div class="buttons-div">
      <!-- <%= link_to "Sign up", new_user_registration_path, class: "btn-green-bird" %> -->
      <% if @user %>
        <% if @challenge %>
          <%= link_to "Continue your journey", challenge_path(@challenge), class: "btn-green-bird" %>
        <% elsif @user %>
          <%= link_to "Look at your achievements", user_path(@user), class: "btn-green-bird" %>
        <% end %>
      <% else %>
        <%= link_to "Start your journey", challenge_path(@challenge), class: "btn-green-bird" %>
      <% end %>
    </div>

  </div>
</div>
<div class="arrow-container">
  <div id="scrollhint">
    <a href="#" class="arrow down" onclick="scrollDown(event)">Scrolldown</a>
  </div>
</div>

<div class="container">
  <div class="section">
    <h2 style="text-align: center;" class="mb-3">How does it work?</h2>
    <hr class="w-75">
    <div class="row d-flex justify-content-space-between">
      <div class="col-sm-12 col-xl-3">
        <div class="card-lp-new shadow">
          <div>
            <h3 class="number-steps">1</h3>
          </div>
          <div class="green-border"></div>
          <div class="text-steps">
            <p>Do <strong>fun</strong> and <strong>easy</strong> challenges every day</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xl-3">
        <div class="card-lp-new shadow">
          <div>
            <h3 class="number-steps two">2</h3>
          </div>
          <div class="green-border"></div>
          <div class="text-steps">
            <p>Learn more about your <strong>environmental impact</strong> and discover what else you can do!</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xl-3">
        <div class="card-lp-new shadow">
          <div>
            <h3 class="number-steps three">3</h3>
          </div>
          <div class="green-border"></div>
          <div class="text-steps">
            <p>Watch as your carbon footprint <strong>shrinks</strong></p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xl-3">
        <div class="card-lp-new shadow">
          <div>
            <h3 class="number-steps">4</h3>
          </div>
          <div class="green-border"></div>
          <div class="text-steps">
            <p>Connect with <strong>friends</strong> and share challenges</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h2 style="text-align: center;" class="mb-3">Why people love us</h2>
    <hr class="w-75">

    <div class="row d-flex justi">
      <div class="col-xl-4 card-testimonial shadow">
        <img class="avatar-user-profile" src="https://ca.slack-edge.com/T02NE0241-U0165E3CGQN-f7b61d146c95-512">
         <h3 class="number-steps">Tina W</h3>
         <hr class="w-75">
         <p>I went from a newbie to a fit bee! I started <strong>changing my diet </strong> because of Greenbird and now I do meal preps at home, source all my food locally, eat less red meat and feel like a <strong> rockstar</strong> all day everyday!
         </p>
      </div>

      <div class="col-xl-4 card-testimonial shadow">
         <img class="avatar-user-profile" src="https://ca.slack-edge.com/T02NE0241-U016AQHF6TF-7d8204dc04a9-512" alt="image of an user">
         <h3 class="number-steps">Juliette Žužu</h3>
         <hr class="w-75">
         <p>My experience with Greenbird has been <strong>phenomenal!</strong> Who knew small tasks each day could <strong> move mountains </strong>(and get me in shape via my daily bike commmutes!) Talk about starting from the bottom and now we're here!
         </p>
      </div>

      <div class="col-xl-4 card-testimonial shadow">
         <img class="avatar-user-profile" src="https://ca.slack-edge.com/T02NE0241-U016JBJPLQL-01d9433a7fea-512" alt="image of an user">
         <h3 class="number-steps">Rowena</h3>
         <hr class="w-75">
         <p> My experience with Greenbird was <strong>supercalifragilisticexpialidociously-amazing</strong>!! Since I started to use it, I bought myself a Tesla and became a vegan! So I <strong> love </strong>this product!
         </p>
      </div>


    </div>
  </div>

</div>

<script>
  function scrollDown(e) {
    e.preventDefault()
    document.querySelector("div.container:nth-child(4)").scrollIntoView({behavior: "smooth"});
  }
</script>
