<div class="container m-bottom">

  <div class="d-flex box-challenge box" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url('<%= cl_image_path @challenge.photo.key, height: 450, width: 1200, crop: :fill %>');">

    <div class="container">

      <div class="justify-content-center">
        <h2><%= @challenge.call_to_action %></h2>
      </div>

      <div class="justify-content-center">
        <p><%= @challenge.description %></p>
        <br>
      </div>

      <div class="justify-content-center btn-c-cta">
        <%= link_to 'More info', @challenge.link, target: "_blank", class: "link-color btn-green-bird-empty w" %>
        <% if @instance.completed %>
          <%= link_to "You've completed this challenge!", @challenge, class: "link-color btn-green-bird-done btn-medium-size" %>
        <% else %>
          <%= link_to 'Challenge done!', challenge_challenge_user_path(@challenge, @instance.id), method: :put, id: "sweet-alert-demo", class: "link-color btn-green-bird" %>
        <% end %>
      </div>

<!-- the following div is for spacing. don't take it out!! -->
      <div class="row my-4">
        <p></p>
      </div>

      <div class="row d-flex justify-content-around mt-5">

        <div class="col-4 d-flex justify-content-center">
          <div class="btn-green-bird-hover infobox">
            View bonus challenge
          </div>
        </div>

        <div class="col-4 d-flex justify-content-center">
          <div class="btn-green-bird-hover databox">
            View your impact
          </div>
        </div>

      </div>

    </div>

    <div class="tag <%=@classtagcolor %>" >
      <%= @challenge.category %>
    </div>

  </div>




  <div class="row d-flex">
    <div class="col-6">
      <div class="small-box info-challenge box">
        <div>
          <h3><%= @challenge.infobox_title %></h3>
          <p><%= @challenge.infobox_desc %></p><br>
        </div>
        <div class="button-read">
          <%= link_to 'Read more', @challenge.infobox_link, target: "_blank", class: "link-color btn-green-bird-empty btn-medium-size" %>
        </div><br>
        <% if @instance.opt_completed %>
          <%= link_to "You've already completed this optional challenge!", @challenge, class: "link-color btn-green-bird btn-medium-size" %>
        <% else %>
          <%= link_to 'Optional challenge done!', update_opt_challenge_challenge_user_path(@challenge, @instance.id), method: :patch, id: "sweet-alert-demo", class: "link-color btn-green-bird btn-medium-size" %>
        <% end %>
      </div>

    </div>

    <div class="col-6">
      <div class="small-box data-challenge box">
        <p><strong>If I do this action every day for a year, I save:</strong></p>
        <h3><strong><%= @challenge.impact_co %> kg of CO2</strong></h3>
        <p>Level: <%= @challenge.impact_level %></p>
        <p>Yearly savings: <%= @challenge.impact_money %> €</p>
        <p>Main impacts: <%= @challenge.impact_desc %></p>
      </div>

    </div>
  </div>


</div>

<%= javascript_pack_tag 'challenge-show' %>
