<!DOCTYPE html>
<html>
  <head>
    <title>Greenbird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="logo-green.png" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: false %>
  </head>

  <body>
    <div id="page-container">
      <div id="content-wrap">
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
